#slickplan-importer h2 {
    border-bottom: 1px solid #eee;
    font-size: 1.25em;
    font-weight: 700;
    margin: 0;
    padding: .4em .6em;
}

#slickplan-importer span.description {
    opacity: .5;
    display: inline-block;
    padding-top: 4px;
}

#slickplan-importer td[colspan="2"] {
    padding: 0;
}

#slickplan-importer .slickplan-summary {
    overflow: auto;
}

#slickplan-importer .slickplan-summary .dashicons-update {
    animation: rotation 2s infinite linear;
}

#slickplan-importer .is-flex {
    display: flex;
    gap: 1em;
    align-items: center;
}

#slickplan-importer .is-flex > * {
    margin: 0;
}

#slickplan-importer .card {
    margin: 0;
    padding: 0.5em 1em;
    width: 100%;
    max-width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
}

#slickplan-importer .card + .card {
    margin-top: 1em;
}

#slickplan-progressbar {
    position: relative;
    background: #fff;
    border: 1px solid #aaa;
    color: #222;
    height: 29px;
}

#slickplan-progressbar .ui-progressbar-value {
    background: #ccc;
    color: #222;
    font-weight: bold;
    height: 29px;
    width: 0px;
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    transition: width .2s ease;
}

#slickplan-progressbar .progress-label {
    position: absolute;
    left: 49%;
    top: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

#slickplan-mapping-list .select-childs-page {
    display: inline-block;
    scale: 0.85;
}

#slickplan-mapping-list .change-page {
    display: none;
    margin-left: 1em;
}

#slickplan-mapping-list tr:hover .change-page {
    display: inline;
}

#slickplan-mapping-list > tr.active .column-title strong {
    font-weight: 700 !important;
}

#slickplan-floating {
    width: calc(100% - 2px - 9px);
    border: 1px solid #b4b5b7;
    padding: 15px 0 15px 9px;
    background: #f0f6fc;
    position: sticky;
    top: 31px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-items: flex-start;
    gap: 7px;
    margin: 20px 0;
    z-index: 1;
}

#slickplan-floating.hidden div + div + div,
#slickplan-floating.hidden button,
#slickplan-floating.hidden select {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
}

#slickplan-floating select {
    width: 125px;
}

#slickplan-floating select[name^="custom_type_list_"] {
    display: none;
}
